<% provide(:title, "Add Employee") %>

<div class="container-fluid d-flex justify-content-center mt-5">

    <%= form_for :employee, url: employees_path, class: "form-signin" do |f| %>
    
    <% if @employee.errors.any? %>
        <% @employee.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger">
                <%= msg %>
            </div>
        <% end %>
     <% end %>

    <h3 id="uploade" class="text-center mb-3 font-italic font-weight-bold" >Add Employee</h3>

    <%= f.label "Select Your Company: " %>
    <%= f.select :company, options_for_select(@companies.map { |s| s.name}) if !@companies.empty? %>

    <%= f.label :firstname, class: "sr-only" %>
    <%= f.text_field :firstname, class: "form-control mb-2 border-dark", placeholder: "Employee name" %>

    <%= f.label :lastname, class: "sr-only" %>
    <%= f.text_field :lastname, class: "form-control mb-2 border-dark", placeholder: "Employee name" %>

    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, class: "form-control mb-2 border-dark", placeholder: "Employee email" %>

    <%= f.label :phone, class: "sr-only" %>
    <%= f.text_field :phone, class: "form-control mb-2 border-dark", placeholder: "Employee website" %>



    <%= f.submit "Add", class: "btn btn-lg btn btn-dark font-weight-bold btn-block" %>
    <%= link_to("Back", employees_path, {:class => 'btn btn-lg btn btn-dark font-weight-bold btn-block'}) %>
    <% end %>


</div>